/*
  nib - CSS3 extensions for Stylus 
  http://tj.github.io/nib/
*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?6lpekv");
  src: url("../fonts/icomoon.eot?6lpekv#iefix") format('embedded-opentype'), url("../fonts/icomoon.ttf?6lpekv") format('truetype'), url("../fonts/icomoon.woff?6lpekv") format('woff'), url("../fonts/icomoon.svg?6lpekv#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-radio:before {
  content: "\e91c";
}
.icon-spinner:before {
  content: "\e981";
}
.icon-search:before {
  content: "\e986";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-cloud-upload:before {
  content: "\e9c3";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-play:before {
  content: "\ea1c";
}
.icon-pause:before {
  content: "\ea1d";
}
.icon-stop:before {
  content: "\ea1e";
}
.icon-previous:before {
  content: "\ea23";
}
.icon-next:before {
  content: "\ea24";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-volume-low:before {
  content: "\ea28";
}
.icon-volume-mute:before {
  content: "\ea29";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-volume-increase:before {
  content: "\ea2b";
}
.icon-loop:before {
  content: "\ea2d";
}
.icon-shuffle:before {
  content: "\ea30";
}
.icon-arrow-up-left:before {
  content: "\ea39";
}
.icon-arrow-left:before {
  content: "\ea40";
}
.icon-menu:before {
  content: "\e800";
}
i[class^="icon-"],
i[class*=" icon-"] {
  display: inline-block;
}
.icon-spinner {
  -webkit-animation: loading 1s infinite linear;
  -moz-animation: loading 1s infinite linear;
  -o-animation: loading 1s infinite linear;
  -ms-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
}
body {
  background: #fcfcfc;
  color: #555;
  font-size: 14px;
  font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', Arial, Helvetica, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
}
footer {
  margin-top: 2em;
  text-align: center;
}
footer ul {
  border-top: #eee solid 1px;
  padding: 0;
  margin: 0 auto;
}
footer ul li {
  display: inline-block;
  margin: 0.5em 1em;
}
footer ul li a {
  text-decoration: none;
  font-weight: 700;
  color: #777;
}
input,
textarea,
select {
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0.5em;
}
input:focus,
textarea:focus,
select:focus {
  outline: 0;
}
nav {
  background-color: #f6f6f6;
  border-right: #eee solid 2px;
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 80px;
  z-index: 95;
}
nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul li a {
  color: #444;
  display: block;
  padding: 1em;
  text-decoration: none;
}
nav ul li a:hover {
  color: #49e;
}
nav ul li a i {
  display: block;
  font-size: 1.5em;
}
nav ul li a span {
  display: block;
  font-size: 0.8em;
}
nav ul li a.login {
  color: #fff;
  margin-top: 1em;
  padding: 0.5em 1em;
}
.user-status {
  bottom: 2em;
  font-size: 14;
  padding: 0;
  position: absolute;
  width: 80px;
}
.btn {
  background: rgba(68,153,238,0.8);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
}
.btn:hover {
  background: #49e;
}
.content {
  bottom: 0;
  left: 80px;
  overflow-y: auto;
  padding: 1em 2em;
  position: absolute;
  right: 300px;
  top: 0;
}
.dropdown {
  background-color: #fff;
  border: 1px solid #eee solid 1px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 300;
}
.dropdown li {
  color: #49e;
  cursor: pointer;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
}
.dropdown li:hover {
  background: #fafafa;
}
.dropdown li:active,
.dropdown li:visited {
  color: #49e;
}
.drop-close {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 199;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.select {
  -webkit-touch-callout: initial;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}
.live-soon {
  background: #000 no-repeat center url("http://images.freeimages.com/images/previews/733/dj-dancing-1462436.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.live-soon h1 {
  color: #fff;
  font-size: 4em;
  padding-top: 1em;
  text-align: center;
}
.logo {
  background: url("../img/logo.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  cursor: pointer;
  display: block;
  margin: 15%;
  padding-top: 70%;
  width: 70%;
}
.page {
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 1em;
  margin: 0 auto;
  max-width: 800px;
}
.piker {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}
.search-aside {
  background: #f6f6f6;
  background: rgba(246,246,246,0.9);
  bordight: #eee solid 4px;
  height: 100%;
  left: -163px;
  width: 240px;
  position: fixed;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 90;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  -ms-transition: -ms-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
.search-aside.show {
  -webkit-transform: translate3d(245px, 0, 0);
  -moz-transform: translate3d(245px, 0, 0);
  -o-transform: translate3d(245px, 0, 0);
  -ms-transform: translate3d(245px, 0, 0);
  transform: translate3d(245px, 0, 0);
}
.search-aside .search-form {
  background: #eee;
  padding: 0.7em 1em;
  position: relative;
}
.search-aside .search-form .icon-arrow-left {
  display: none;
}
.search-aside .search-form input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
}
.search-aside .search-form .remove {
  cursor: pointer;
  font-size: 0.8em;
  position: absolute;
  height: 1em;
  right: 1.7em;
  width: 1em;
  top: 1.4em;
}
.search-aside ul {
  background: #f6f6f6;
  background: #f6f6f6;
  list-style: none;
  padding: 0;
  margin: 0;
}
.search-aside ul li {
  color: #555;
  display: block;
  font-size: 0.9em;
  overflow: hidden;
  padding: 0.5em 1em;
  position: relative;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search-aside ul li:hover {
  background: #eee;
}
.search-aside ul li i.icon-arrow-up-left {
  position: absolute;
  right: 1em;
  top: 0.8em;
}
.search-aside ul li a {
  color: inherit;
  text-decoration: none;
}
.search-aside .s-history,
.search-aside .s-h-clean {
  background: #f6f6f6;
  display: block;
  padding: 0.5em 1em;
}
.remove:hover {
  color: #000;
  font-weight: bold;
}
.search-page .spinner-wraper {
  background: rgba(0,0,0,0.6);
  bottom: 0;
  font-size: 2.5em;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
}
.search-page .spinner-wraper .icon-spinner {
  margin-top: 48%;
}
.song-list {
  border-spacing: 0px;
  font-size: 12px;
  width: 100%;
}
.song-list th {
  text-align: left;
}
.song-list td,
.song-list th {
  padding: 1em;
}
.song-list tbody tr:hover {
  background: #f6f6f6;
}
@media only screen and (max-width: 992px) {
  .logo {
    display: none;
  }
  html {
    min-height: 100% !important;
    padding-bottom: 56px !important;
  }
  body {
    min-height: 100% !important;
  }
  #app-wrapper {
    min-height: 100%;
  }
  #app-wrapper footer {
    display: none;
  }
  #app-wrapper header {
    background: #2196f3;
    color: #fff;
    height: 56px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  #app-wrapper header i {
    cursor: pointer;
    font-size: 1.8em;
    line-height: 56px;
    padding: 0 0.6em;
    margin: 0;
  }
  #app-wrapper nav {
    top: 56px;
    -webkit-transform: translate3d(-320px, 0, 0);
    -moz-transform: translate3d(-320px, 0, 0);
    -o-transform: translate3d(-320px, 0, 0);
    -ms-transform: translate3d(-320px, 0, 0);
    transform: translate3d(-320px, 0, 0);
    -webkit-transition: -webkit-transform 0.1s ease-out;
    -moz-transition: -moz-transform 0.1s ease-out;
    -o-transition: -o-transform 0.1s ease-out;
    -ms-transition: -ms-transform 0.1s ease-out;
    transition: transform 0.1s ease-out;
    width: 300px;
  }
  #app-wrapper nav.show {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    -ms-transition: -ms-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }
  #app-wrapper nav li a {
    padding-left: 3em;
    text-align: left;
  }
  #app-wrapper nav li a span {
    display: inline-block;
    font-size: 1em;
    vertical-align: bottom;
  }
  #app-wrapper nav li a i {
    display: inline-block;
    font-size: 1.2em;
    margin-right: 0.6em;
    vertical-align: bottom;
  }
  #app-wrapper nav .login {
    display: none;
  }
  #app-wrapper nav .user-status {
    text-align: center;
  }
  #app-wrapper .content {
    padding: 0em;
    position: relative;
    right: 0;
    left: 0;
    top: 56px;
  }
  #app-wrapper .search-aside {
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: 0.3s opacity ease-out;
    -moz-transition: 0.3s opacity ease-out;
    -o-transition: 0.3s opacity ease-out;
    -ms-transition: 0.3s opacity ease-out;
    transition: 0.3s opacity ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 100;
  }
  #app-wrapper .search-aside.show {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: 0.3s opacity ease-out;
    -moz-transition: 0.3s opacity ease-out;
    -o-transition: 0.3s opacity ease-out;
    -ms-transition: 0.3s opacity ease-out;
    transition: 0.3s opacity ease-out;
    visibility: visible;
  }
  #app-wrapper .search-aside .search-form {
    padding: 0.7em 1em 0.7em 3em;
  }
  #app-wrapper .search-aside .search-form .icon-arrow-left {
    cursor: pointer;
    display: block;
    font-size: 1.5em;
    left: 0.5em;
    margin-top: -0.5em;
    position: absolute;
    top: 50%;
  }
  #app-wrapper .search-page h1 {
    display: none;
  }
  #app-wrapper .song-list thead {
    display: none;
  }
  #app-wrapper .song-list tr {
    display: block;
    font-size: 1em;
    padding: 1em 3.5em 1em 1em;
    position: relative;
  }
  #app-wrapper .song-list tr td {
    display: block;
    padding: 0;
  }
  #app-wrapper .song-list tr td.artist {
    font-size: 0.9em;
  }
  #app-wrapper .song-list tr td .piker {
    position: absolute;
    right: 1em;
    top: 1.5em;
  }
  #app-wrapper .song-list .duration,
  #app-wrapper .song-list .bitrate {
    display: none;
  }
  #app-wrapper .dropdown {
    bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
    top: initial !important;
  }
  #app-wrapper .dropdown li {
    font-size: 1.2em;
    padding: 0.7em 1em;
  }
  #app-wrapper .drop-close {
    cursor: pointer;
    background: rgba(0,0,0,0.7);
  }
  #app-wrapper .live-soon {
    position: fixed;
  }
  #app-wrapper .piker {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 2.5em;
    line-height: 2.5em;
    width: 2.5em;
  }
}
@-moz-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.player {
  background: #eee;
  -webkit-box-shadow: 0px 4px 8px -4px rgba(50,50,50,0.5);
  box-shadow: 0px 4px 8px -4px rgba(50,50,50,0.5);
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  position: relative;
/*
  *  control curret position of the audio the track
  */
/*
  *  Show title and artist
  */
}
.player .controls {
  padding: 0em;
  font-size: 1.2em;
}
.player .controls i {
  cursor: pointer;
}
.player .controls i:hover {
  color: #222;
}
.player .controls .playback {
  font-size: 2em;
  margin: 0 0.5em;
  vertical-align: middle;
}
.player .controls .playback .icon-play,
.player .controls .playback .icon-pause {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #000;
  padding: 0.2em;
  position: relative;
}
.player .controls .playback .icon-play:hover,
.player .controls .playback .icon-pause:hover {
  border-color: #49e;
}
.player .controls .active {
  color: #49e;
}
.player .controls .active:hover {
  color: rgba(68,153,238,0.8);
}
.player .cover {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  display: inline-block;
  height: 0;
  padding-top: 100%;
  width: 100%;
}
.player .progress-bar {
  background: #444;
  -webkit-background-clip: content;
  -moz-background-clip: content;
  background-clip: content-box;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  height: 4px;
  margin: 1em 0 0 0;
  padding: 1px 0;
  position: relative;
  width: 100%;
}
.player .progress-bar::selection {
  background: transparent;
}
.player .progress-bar:hover {
  height: 6px;
  padding: 0;
}
.player .progress-bar:hover .position {
  visibility: visible;
}
.player .progress-bar .position {
  background: #49e;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 13px;
  left: 0;
  margin: -3px 0 0 -3px;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 13px;
}
.player .progress-bar .progress {
  background: #49e;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 100%;
  width: 0;
  z-index: 2;
}
.player .info {
  font-size: 0.9em;
  margin-top: 1em;
  text-align: center;
}
.player .info span {
  display: block;
}
.player .info span.title {
  font-size: 1.2em;
}
.player .player-header {
  display: none;
  height: 56px;
  line-height: 56px;
  position: relative;
}
.player .player-header .down {
  cursor: pointer;
  font-size: 1em;
  padding: 0 1em;
}
.player .player-header .down:before {
  content: '';
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  display: inline-block;
  height: 1em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 1em;
}
.player .player-header .list {
  cursor: pointer;
  font-size: 1.3em;
  line-height: 56px;
  padding: 0 1em;
  position: absolute;
  right: 0;
}
.player .player-content {
  padding: 1.5em;
  text-align: center;
}
.player .time-marker {
  text-align: left;
  position: relative;
}
.player .time-marker .duration {
  float: right;
}
#player-container {
  bottom: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  position: absolute;
  right: 0px;
  top: 0;
  width: 300px;
  z-index: 105;
}
#player-container.buffering .play-loading {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  -ms-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.mini-player {
  display: none;
}
.play-loading {
  -webkit-animation: loading 1s infinite linear;
  -moz-animation: loading 1s infinite linear;
  -o-animation: loading 1s infinite linear;
  -ms-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
  border: 4px transparent solid;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border-top-color: #49e;
  display: block;
  height: 1.4em;
  left: -6px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  padding: 2px;
  position: absolute;
  top: -6px;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  width: 1.4em;
}
@media only screen and (max-width: 992px) {
  body.show-player #player-container .player {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  body.show-player #player-container #current-list {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  body.show-player #player-container #current-list.show {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  body.show-player .mini-player {
    -webkit-transform: translate3d(0, 52px, 0);
    -moz-transform: translate3d(0, 52px, 0);
    -o-transform: translate3d(0, 52px, 0);
    -ms-transform: translate3d(0, 52px, 0);
    transform: translate3d(0, 52px, 0);
  }
  #player-container {
    left: 150%;
    top: 56px;
    position: fixed;
    height: 0;
  }
  #player-container .player-content {
    padding-top: 0;
  }
  #player-container .player {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    -ms-transition: -ms-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    -webkit-transform: translate3d(0, 130%, 0);
    -moz-transform: translate3d(0, 130%, 0);
    -o-transform: translate3d(0, 130%, 0);
    -ms-transform: translate3d(0, 130%, 0);
    transform: translate3d(0, 130%, 0);
    width: initial;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  #player-container .player .controls {
    font-size: 1.5em;
  }
  #player-container .player .cover {
    padding-top: 80%;
    width: 80%;
  }
  #player-container .player .player-header {
    display: block;
  }
  #player-container #current-list {
    bottom: 0%;
    left: 0;
    position: fixed;
    -webkit-transform: translate3d(100%, 130%, 0);
    -moz-transform: translate3d(100%, 130%, 0);
    -o-transform: translate3d(100%, 130%, 0);
    -ms-transform: translate3d(100%, 130%, 0);
    transform: translate3d(100%, 130%, 0);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    -ms-transition: -ms-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    top: 56px;
    width: 100%;
  }
  #player-container #current-list.show {
    -webkit-transform: translate3d(0, 130%, 0);
    -moz-transform: translate3d(0, 130%, 0);
    -o-transform: translate3d(0, 130%, 0);
    -ms-transform: translate3d(0, 130%, 0);
    transform: translate3d(0, 130%, 0);
  }
  #player-container #current-list li {
    border-bottom: 1px solid #d8d8d8;
    padding: 1em;
  }
  .mini-player {
    background: #f5f5f5;
    bottom: 0;
    cursor: pointer;
    display: block;
    height: 52px;
    left: 0;
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out;
    -o-transition: -o-transform 0.2s ease-out;
    -ms-transition: -ms-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    width: 100%;
    z-index: 30;
  }
  .mini-player .play-pause {
    font-size: 1.7em;
    line-height: 52px;
    padding: 0 0.5em;
    position: absolute;
    right: 0;
    top: 0;
  }
  .mini-player .info {
    display: block;
    height: 52px;
    left: 62px;
    line-height: 1em;
    position: absolute;
    right: 3em;
    top: 0;
  }
  .mini-player .info span {
    display: block;
    height: 26px;
  }
  .mini-player .info span.title {
    line-height: 42px;
  }
  .mini-player .info span.artist {
    font-size: 0.8em;
    line-height: 1.6em;
  }
  .mini-player .mini-cover {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    display: inline-block;
    height: 0;
    padding-top: 52px;
    width: 52px;
  }
}
#current-list {
  background: #e6e6e6;
  bottom: 2em;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  width: 300px;
  z-index: 10;
}
#current-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#current-list ul li {
  cursor: pointer;
  padding: 0.5em 1em;
  position: relative;
  font-size: 0.8em;
}
#current-list ul li:hover {
  background: #eee;
}
#current-list ul li:hover .remove {
  display: block;
}
#current-list ul li span {
  display: block;
  white-space: nowrap;
}
#current-list ul li span.track {
  font-size: 1.2em;
}
#current-list ul li .remove {
  cursor: pointer;
  display: none;
  height: 1em;
  margin-top: -0.5em;
  position: absolute;
  right: 0.5em;
  top: 50%;
  width: 1em;
}
ul.categories {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
ul.categories li {
  background-color: #ccc;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  height: 0px;
  margin: 0.5em;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  padding-top: 22%;
  position: relative;
  width: 22%;
}
ul.categories li:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
ul.categories li .cont {
  bottom: 0;
  color: #fff;
  height: 1em;
  left: 0;
  margin-top: -0.5em;
  position: absolute;
  right: 0;
  top: 75%;
}
@media only screen and (max-width: 992px) {
  .content .categories li {
    margin: 0.5em;
    padding-top: 45%;
    width: 45%;
  }
}
#upload {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 3em;
  margin: 3em auto;
  max-width: 450px;
}
#upload h1 {
  text-align: center;
  margin: 0 0 1em 0;
}
#upload .input-file {
  display: none;
}
#upload .file-btn {
  background: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
}
#upload .file-btn:hover {
  border-color: #999;
}
#upload label {
  display: block;
  margin: 0.2em 0;
}
.upload-progress {
  background: #eee;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: none;
  padding: 0.7em;
  position: relative;
  text-align: center;
}
.upload-progress .progress {
  background: #7c9;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  padding: 1.2em 0;
  -webkit-transition: width 0.5s linear;
  -moz-transition: width 0.5s linear;
  -o-transition: width 0.5s linear;
  -ms-transition: width 0.5s linear;
  transition: width 0.5s linear;
}
.upload-progress .progress-display {
  background: rgba(255,255,255,0.88);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #1d1d1d;
  left: 50%;
  margin-top: -0.9em;
  padding: 0.15em 0.5em;
  margin-left: -2em;
  font-size: 0.9em;
  position: absolute;
  top: 50%;
}
.upload-form {
  border-top: 1px solid #ccc;
  display: none;
  padding: 0.5em 0;
  list-style: none;
}
.upload-form li {
  margin-top: 1em;
}
#upload.uploading .upload-form,
#upload.uploading .upload-progress {
  display: block;
}
#upload.uploading .file-btn {
  display: none;
}
.no-image-user {
  background: #7c9;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  height: 2em;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  width: 2em;
}
.profile .no-image-user {
  font-size: 4em;
}
.profile .username {
  font-size: 2em;
  margin-left: 0.5em;
}
