.no-image-user
  background $verdeSubida
  border-radius 0.2em
  color #fff
  display inline-block
  height 2em
  font-size 1em
  line-height 2em
  text-align center
  width 2em



.profile
  .no-image-user
    font-size 4em

  .username
    font-size 2em
    margin-left 0.5em

.profile-header
  border-bottom 1px solid $dividerColor



@media $med_and_down
  .profile-header
    padding-top 2em
    .no-image-user
      display block
      margin 0 auto
    .username
      display block
      margin 0
      text-align center
    h3
      text-align center
