
#upload
	// border 1px solid #ccc
	background rgba(0,0,0,0.2)
	padding 3em
	margin 3em auto
	max-width 450px
	h1
		text-align center
		margin 0 0 1em 0
	.input-file
		display none
	.file-btn
		// background #fff
		border-radius 3px
		border 1px solid #ccc
		cursor pointer
		padding 1em
		text-align center
		text-transform uppercase
		&:hover
			border-color #999

	label
		display block
		margin .2em 0

.upload-progress
	background #eee
	border-radius 3px
	display none
	padding .7em
	position relative
	text-align center

	.progress
		background $verdeSubida
		border-radius 3px
		width 100%
		padding 1.2em 0
		transition width 0.5s linear
	.progress-display
		background rgba(255, 255, 255, 0.88)
		border-radius 3px
		color #1D1D1D
		left 50%
		margin-top -0.9em
		padding 0.15em 0.5em
		margin-left -2em
		font-size 0.9em
		position absolute
		top 50%


.upload-form
	border-top 1px solid #ccc
	display none
	padding .5em 0
	list-style none

	li
		margin-top 1em


#upload.uploading
	.upload-form, .upload-progress
		display block
	.file-btn
		display none
