/*
  nib - CSS3 extensions for Stylus
  http://tj.github.io/nib/
*/
// @import 'nib'

// Icomoon icons
@import 'icons.styl'

@import 'base.styl'
@import '../js/components/reactScrollbar/Scrollbar.styl'
// @import 'sections/player.styl'
// @import 'sections/categories.styl'
// @import 'sections/uploadAudio.styl'
// @import 'sections/userProfile.styl'
// @import 'sections/LoginRegister.styl'
// @import 'sections/bottomPlayer.styl'
