$primaryColor = #00aaee
$primaryColorLight = rgba(68, 153, 238, .8)
$verdeSubida = #24AD7A
$fontColor = #efefef
$fontColorDark = #282828
$dividerColor = rgba(255,255,255, 0.2)

bodyGradient()
  background rgba(17,69,90,1)
  background -moz-radial-gradient(top, ellipse cover, rgba(17,69,90,1) 0%, rgba(23,30,34,1) 100%)
  background -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(17,69,90,1)), color-stop(100%, rgba(23,30,34,1)))
  background -webkit-radial-gradient(top, ellipse cover, rgba(17,69,90,1) 0%, rgba(23,30,34,1) 100%)
  background -o-radial-gradient(top, ellipse cover, rgba(17,69,90,1) 0%, rgba(23,30,34,1) 100%)
  background -ms-radial-gradient(top, ellipse cover, rgba(17,69,90,1) 0%, rgba(23,30,34,1) 100%)
  background radial-gradient(ellipse at top, rgba(17,69,90,1) 0%, rgba(23,30,34,1) 100%)



$x_small_only   = "only screen and (max-width : 600px)"
$small_only   = "only screen and (max-width : 600px)"
$med_and_down = "only screen and (max-width: 992px)"
$large_only   = "only screen and (min-width : 993px)"


$headerHeight = 56px
